<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script> -->
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <title> COVID 19 INDIA </title>
</head>

<body>

    <h1> TRY </h1>
    <div class="container">
        <div class="col-sm-12 col-md-6 col-lg-6"> <img class = 'i' src="{% static "images/area.png" %}" alt=""> </div>
        <div class="col-sm-12 col-md-6 col-lg-6"> <img class = 'i' src="{% static "images/pie.png" %}" alt=""> </div>
    </div>

    <div class="container">
        {% if state_table %}
        <select class="selectpicker" data-style="btn-info" data-max-options="3" data-live-search="true" id = "state_select" name="">
            {% for state in state_table %}
            <option value=""> {{ state.name }} </option>
            {% endfor %}
        </select>
        <select id = "state_hidden" name="">
            {% for state in state_table %}
            <option value=""> {{ state.name }} {{ state.c }} {{ state.r }} {{ state.d }}
                {{ state.state_name }} {{ state.tc }} {{ state.tr }} {{ state.td }} </option>
            {% endfor %}
        </select>
        {% else %}
        <p> No Records Found </p>
        {% endif %}
    </div>
    <div class="container">
        <p id = "confirm"> </p>
        <p id = "recover"> </p>
        <p id = "decease"> </p>
    </div>

    <div class="container">
        <p id = "tc"> </p>
        <p id = "tr"> </p>
        <p id = "td"> </p>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src = "{% static "js/index.js" %}" ></script>
</body>

</html>
